@font-face {
  font-family: BentonSans;
  src: url("fonts/benton-regular.woff");
}
@font-face {
  font-family: BentonSans;
  font-weight: bold;
  src: url("fonts/benton-bold.woff");
}
@font-face {
  font-family: BentonSans;
  font-weight: 900;
  src: url("fonts/benton-black.woff");
}
@font-face {
  font-family: Playfair;
  src: url("fonts/playfair-regular.woff");
}
@font-face {
  font-family: Playfair;
  font-style: italic;
  src: url("fonts/playfair-italic.woff");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: BentonSans, sans-serif;
  background-color: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.4em;
  font-size: 15px;
}
a {
  color: #fff;
  text-decoration: none;
}
.slide {
  position: relative;
  padding: 200px 0;
}
.long-body,
.long-body-large {
  font-family: Garamond;
  font-size: 28px;
}
.long-body-large {
  font-size: 42px;
  line-height: 1.2em;
}
.img-spacer {
  margin-top: 100px;
}
.caption {
  color: #aaa;
  font-size: 12px;
  text-align: right;
  margin-top: 50px;
  display: block;
}
.benton-black-h {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 130px;
  line-height: 120px;
  font-weight: 900;
}
#main {
  min-width: 600px;
  max-width: 1200px;
  margin: auto;
  display: block;
  padding: 0 100px;
}
#main img {
  max-width: 100%;
  display: block;
  margin: auto;
}
#header-nav {
  padding: 20px 100px;
  text-align: center;
  position: fixed;
  top: 0;
  background: #000;
  z-index: -1;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 100%;
}
#header-nav.is-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 2;
}
#header-nav a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #555;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  margin-right: 60px;
  text-align: center;
  vertical-align: middle;
}
#header-nav a:last-child {
  margin-right: 0;
}
#header-nav a:hover,
#header-nav a.is-active {
  color: #fff;
}
#slide1.is-active img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#slide1.is-active #slide1-down-arrow {
  bottom: 80px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#slide1 img {
  position: absolute;
  width: 400px;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
#slide1-down-arrow {
  background: url("images/down-arrow.svg") no-repeat center center;
  -webkit-background-size: 30px;
  -moz-background-size: 30px;
  background-size: 30px;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: -30px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity 0.2s ease-in 1s;
  -moz-transition: bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity 0.2s ease-in 1s;
  -o-transition: bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity 0.2s ease-in 1s;
  -ms-transition: bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity 0.2s ease-in 1s;
  transition: bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity 0.2s ease-in 1s;
  cursor: pointer;
}
#slide2 {
  margin-bottom: -210px;
  position: relative;
}
#slide2.is-active .reveal-screen {
  width: 0%;
}
#slide2 h1 {
  font-family: Garamond;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: 2px;
  line-height: 1.3em;
}
.reveal-screen {
  color: transparent;
  width: 140%;
  height: 100%;
  background: -webkit-linear-gradient(left, transparent, #000, #000, #000);
  background: -moz-linear-gradient(left, transparent, #000, #000, #000);
  background: -o-linear-gradient(left, transparent, #000, #000, #000);
  background: -ms-linear-gradient(left, transparent, #000, #000, #000);
  background: linear-gradient(to right, transparent, #000, #000, #000);
  z-index: 6;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: width 1s ease-out;
  -moz-transition: width 1s ease-out;
  -o-transition: width 1s ease-out;
  -ms-transition: width 1s ease-out;
  transition: width 1s ease-out;
}
#slide6-sub-copy {
  position: relative;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#slide6-sub-copy .reveal-screen {
  background: -webkit-linear-gradient(left, transparent, #fff, #fff, #fff);
  background: -moz-linear-gradient(left, transparent, #fff, #fff, #fff);
  background: -o-linear-gradient(left, transparent, #fff, #fff, #fff);
  background: -ms-linear-gradient(left, transparent, #fff, #fff, #fff);
  background: linear-gradient(to right, transparent, #fff, #fff, #fff);
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  -ms-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
}
#slide6.is-active #slide6-sub-copy {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#slide6.is-active .reveal-screen {
  width: 0%;
}
#slide15 {
  padding-top: 100px;
  position: relative;
}
#slide15 h1 {
  font-family: Garamond;
  text-transform: none;
  line-height: 10px;
  font-weight: normal;
}
#slide15 em {
  font-style: italic;
}
#slide15 img {
  position: absolute;
  bottom: 100px;
  right: 0;
  height: 40px;
}
.boxes-container {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  margin-bottom: 45px;
}
.boxes-container:nth-child(3n-2) {
  padding-right: 30px;
}
.boxes-container:nth-child(3n-1) {
  padding: 0 15px;
}
.boxes-container:nth-child(3n-3) {
  padding-left: 30px;
}
.boxes-container img {
  width: 100%;
}
.boxes-container:nth-child(2n) {
  text-align: center;
}
.boxes-container:nth-child(3n) {
  text-align: right;
}
.boxes-container:nth-child(4n) {
  text-align: left;
}
.boxes-container:nth-child(5n) {
  text-align: center;
}
.boxes-container:nth-child(6n) {
  text-align: right;
}
#luxury-graph-container img,
#luxury-graph-container svg {
  display: inline-block;
  vertical-align: bottom;
}
#luxury-graph-container img {
  width: 65%;
  border-bottom: 1px solid #ccc;
}
#luxury-graph-container svg {
  padding-left: 100px;
  width: 34%;
}
.ipads {
  position: relative;
  height: 410px;
  border-bottom: 1px solid #ccc;
}
.ipads > p {
  width: 23.33%;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 9px 0 7px 0;
  color: #aaa;
  border: 1px solid #ccc;
  margin: 0 5%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease-in 0.5s;
  -moz-transition: opacity 0.5s ease-in 0.5s;
  -o-transition: opacity 0.5s ease-in 0.5s;
  -ms-transition: opacity 0.5s ease-in 0.5s;
  transition: opacity 0.5s ease-in 0.5s;
  position: relative;
  font-size: 17px;
}
.ipads > p:nth-child(2) {
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
.ipads > p:first-of-type {
  left: 2%;
}
.ipads > p:last-of-type {
  right: 2%;
}
.ipads img {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
.ipads img:last-child {
  -webkit-transition: opacity 0.3s ease-in 0.5s;
  -moz-transition: opacity 0.3s ease-in 0.5s;
  -o-transition: opacity 0.3s ease-in 0.5s;
  -ms-transition: opacity 0.3s ease-in 0.5s;
  transition: opacity 0.3s ease-in 0.5s;
}
.ipads.is-active img,
.ipads.is-active > p {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#slide9.is-active svg [id=grid-circle] {
  stroke-dashoffset: 0;
}
#slide9.is-active svg [id=grid-line] {
  stroke-dashoffset: 0;
}
#slide9.is-active #grid-stands-alone-cover {
  width: 0;
}
#slide9 svg [id=grid-circle] {
  stroke-dasharray: 1010;
  stroke-dashoffset: 1010;
  -webkit-transition: stroke-dashoffset 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: stroke-dashoffset 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: stroke-dashoffset 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: stroke-dashoffset 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: stroke-dashoffset 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#slide9 svg [id=grid-line] {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  -webkit-transition: stroke-dashoffset 0.1s ease-in 0.8s;
  -moz-transition: stroke-dashoffset 0.1s ease-in 0.8s;
  -o-transition: stroke-dashoffset 0.1s ease-in 0.8s;
  -ms-transition: stroke-dashoffset 0.1s ease-in 0.8s;
  transition: stroke-dashoffset 0.1s ease-in 0.8s;
}
#slide15 .benton-black-h,
#slide15 img {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#slide15 .benton-black-h {
  -webkit-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
#slide15 img {
  -webkit-transition: opacity 0.3s ease-in 1.3s;
  -moz-transition: opacity 0.3s ease-in 1.3s;
  -o-transition: opacity 0.3s ease-in 1.3s;
  -ms-transition: opacity 0.3s ease-in 1.3s;
  transition: opacity 0.3s ease-in 1.3s;
}
#slide15.is-active .benton-black-h,
#slide15.is-active img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#grid-container {
  position: relative;
}
#grid-container #grid-stands-alone {
  position: absolute;
  top: 132px;
  right: -28px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 30px 35px 26px 35px;
  color: #fff;
  background: #baa15b;
}
#grid-container #grid-stands-alone-cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  -moz-transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  -o-transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  -ms-transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  width: 100%;
}
