@font-face {
  font-family: BentonSans;
  src: url("fonts/benton-regular.woff");
}
@font-face {
  font-family: BentonSans;
  font-weight: bold;
  src: url("fonts/benton-bold.woff");
}
@font-face {
  font-family: BentonSans;
  font-weight: 900;
  src: url("fonts/benton-black.woff");
}
@font-face {
  font-family: PTSerif;
  src: url("fonts/ptserif-regular.woff");
}
@font-face {
  font-family: PTSerif;
  font-style: italic;
  src: url("fonts/ptserif-italic.woff");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: BentonSans, sans-serif;
  background-color: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.4em;
  font-size: 15px;
}
a {
  color: #fff;
  text-decoration: none;
}
.slide {
  position: relative;
  padding: 200px 60px;
}
.long-body,
.long-body-large {
  font-family: PTSerif;
  font-size: 24px;
}
.long-body-large {
  font-size: 38px;
  line-height: 1.2em;
}
.img-spacer {
  margin-top: 60px;
}
.caption {
  color: #aaa;
  font-size: 12px;
  text-align: right;
  margin-top: 30px;
  display: block;
}
.benton-black-h {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 130px;
  line-height: 120px;
  font-weight: 900;
}
#main {
  width: 1024px;
  margin: auto;
  display: block;
}
#main img {
  max-width: 100%;
  display: block;
  margin: auto;
}
#header-nav {
  padding: 15px 60px;
  text-align: center;
  position: fixed;
  top: 0;
  background: #000;
  z-index: -1;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 100%;
}
#header-nav.is-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 2;
}
#header-nav a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #555;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  margin-right: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}
#header-nav a:last-child {
  margin-right: 0;
}
#header-nav a:hover,
#header-nav a.is-active {
  color: #fff;
}
#header-nav-inner {
  min-width: 855px;
}
#slide1.is-active img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#slide1.is-active #slide1-down-arrow {
  bottom: 80px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#slide1 img {
  position: absolute;
  width: 400px;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
#slide1-down-arrow,
#backtotop {
  background: url("images/down-arrow.svg") no-repeat center center;
  -webkit-background-size: 30px;
  -moz-background-size: 30px;
  background-size: 30px;
  height: 30px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  bottom: -30px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity 0.2s ease-in 1s;
  -moz-transition: bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity 0.2s ease-in 1s;
  -o-transition: bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity 0.2s ease-in 1s;
  -ms-transition: bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity 0.2s ease-in 1s;
  transition: bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity 0.2s ease-in 1s;
  cursor: pointer;
}
#slide2 {
  margin-bottom: -180px;
  position: relative;
}
#slide2.is-active .reveal-screen {
  width: 0%;
}
#slide2 h1 {
  font-family: PTSerif;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: 2px;
  line-height: 1.3em;
}
.reveal-screen {
  color: transparent;
  width: 140%;
  height: 100%;
  background: -webkit-linear-gradient(left, transparent, #000, #000, #000);
  background: -moz-linear-gradient(left, transparent, #000, #000, #000);
  background: -o-linear-gradient(left, transparent, #000, #000, #000);
  background: -ms-linear-gradient(left, transparent, #000, #000, #000);
  background: linear-gradient(to right, transparent, #000, #000, #000);
  z-index: 6;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: width 1s ease-out;
  -moz-transition: width 1s ease-out;
  -o-transition: width 1s ease-out;
  -ms-transition: width 1s ease-out;
  transition: width 1s ease-out;
}
#slide6-sub-copy {
  position: relative;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#slide6-sub-copy .reveal-screen {
  background: -webkit-linear-gradient(left, transparent, #fff, #fff, #fff);
  background: -moz-linear-gradient(left, transparent, #fff, #fff, #fff);
  background: -o-linear-gradient(left, transparent, #fff, #fff, #fff);
  background: -ms-linear-gradient(left, transparent, #fff, #fff, #fff);
  background: linear-gradient(to right, transparent, #fff, #fff, #fff);
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  -ms-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
}
#slide6.is-active #slide6-sub-copy {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#slide6.is-active .reveal-screen {
  width: 0%;
}
#slide15 {
  padding-top: 100px;
  position: relative;
}
#slide15 h1 {
  font-family: PTSerif;
  text-transform: none;
  line-height: 10px;
  font-weight: normal;
}
#slide15 em {
  font-style: italic;
}
#slide15 img {
  position: absolute;
  bottom: 100px;
  right: 60px;
  height: 40px;
}
.boxes-container {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  margin-bottom: 45px;
}
.boxes-container:nth-child(3n-2) {
  padding-right: 30px;
}
.boxes-container:nth-child(3n-1) {
  padding: 0 15px;
}
.boxes-container:nth-child(3n-3) {
  padding-left: 30px;
}
.boxes-container img {
  width: 100%;
}
.boxes-container:nth-child(2n) {
  text-align: center;
}
.boxes-container:nth-child(3n) {
  text-align: right;
}
.boxes-container:nth-child(4n) {
  text-align: left;
}
.boxes-container:nth-child(5n) {
  text-align: center;
}
.boxes-container:nth-child(6n) {
  text-align: right;
}
#luxury-graph-container img,
#luxury-graph-container svg {
  display: inline-block;
  vertical-align: bottom;
}
#luxury-graph-container img {
  width: 65%;
  border-bottom: 1px solid #ccc;
}
#luxury-graph-container svg {
  padding-left: 60px;
  width: 34%;
}
.ipads {
  position: relative;
  height: 370px;
  border-bottom: 1px solid #ccc;
}
.ipads > p {
  width: 23.33%;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 9px 0 7px 0;
  color: #aaa;
  border: 1px solid #ccc;
  margin: 0 5%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease-in 0.5s;
  -moz-transition: opacity 0.5s ease-in 0.5s;
  -o-transition: opacity 0.5s ease-in 0.5s;
  -ms-transition: opacity 0.5s ease-in 0.5s;
  transition: opacity 0.5s ease-in 0.5s;
  position: relative;
  font-size: 17px;
}
.ipads > p:nth-child(2) {
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
.ipads > p:first-of-type {
  left: 2%;
}
.ipads > p:last-of-type {
  right: 2%;
}
.ipads img {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
.ipads img:last-child {
  -webkit-transition: opacity 0.3s ease-in 0.5s;
  -moz-transition: opacity 0.3s ease-in 0.5s;
  -o-transition: opacity 0.3s ease-in 0.5s;
  -ms-transition: opacity 0.3s ease-in 0.5s;
  transition: opacity 0.3s ease-in 0.5s;
}
.ipads.is-active img,
.ipads.is-active > p {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#slide9.is-active svg [id=grid-circle] {
  stroke-dashoffset: 0;
}
#slide9.is-active svg [id=grid-line] {
  stroke-dashoffset: 0;
}
#slide9.is-active #grid-stands-alone-cover {
  width: 0;
}
#slide9 svg [id=grid-circle] {
  stroke-dasharray: 1010;
  stroke-dashoffset: 1010;
  -webkit-transition: stroke-dashoffset 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: stroke-dashoffset 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: stroke-dashoffset 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: stroke-dashoffset 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: stroke-dashoffset 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#slide9 svg [id=grid-line] {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  -webkit-transition: stroke-dashoffset 0.1s ease-in 0.8s;
  -moz-transition: stroke-dashoffset 0.1s ease-in 0.8s;
  -o-transition: stroke-dashoffset 0.1s ease-in 0.8s;
  -ms-transition: stroke-dashoffset 0.1s ease-in 0.8s;
  transition: stroke-dashoffset 0.1s ease-in 0.8s;
}
#slide15 .benton-black-h,
#slide15 img {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#slide15 .benton-black-h {
  -webkit-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: opacity 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
#slide15 img {
  -webkit-transition: opacity 0.3s ease-in 1.3s;
  -moz-transition: opacity 0.3s ease-in 1.3s;
  -o-transition: opacity 0.3s ease-in 1.3s;
  -ms-transition: opacity 0.3s ease-in 1.3s;
  transition: opacity 0.3s ease-in 1.3s;
}
#slide15 #backtotop {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  bottom: 0;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition: opacity 0.3s ease-in 2s;
  -moz-transition: opacity 0.3s ease-in 2s;
  -o-transition: opacity 0.3s ease-in 2s;
  -ms-transition: opacity 0.3s ease-in 2s;
  transition: opacity 0.3s ease-in 2s;
  -webkit-transition: bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 2s, opacity 0.3s ease-in 2s;
  -moz-transition: bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 2s, opacity 0.3s ease-in 2s;
  -o-transition: bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 2s, opacity 0.3s ease-in 2s;
  -ms-transition: bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 2s, opacity 0.3s ease-in 2s;
  transition: bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 2s, opacity 0.3s ease-in 2s;
}
#slide15.is-active .benton-black-h,
#slide15.is-active img,
#slide15.is-active #backtotop {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#slide15.is-active #backtotop {
  bottom: 100px;
}
#grid-container {
  position: relative;
}
#grid-container #grid-stands-alone {
  position: absolute;
  top: 132px;
  right: -28px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 30px 35px 26px 35px;
  color: #fff;
  background: #baa15b;
}
#grid-container #grid-stands-alone-cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  -moz-transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  -o-transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  -ms-transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  width: 100%;
}
#grid-container svg {
  position: relative;
  left: -145px;
}
html[data-user-agent*=iPad] #main,
html[data-user-agent*=iPhone] #main {
  width: auto;
}
html[data-user-agent*=iPad] body,
html[data-user-agent*=iPhone] body {
  color: #282828;
  background: #fff;
}
html[data-user-agent*=iPad] #slide2 h1,
html[data-user-agent*=iPhone] #slide2 h1 {
  font-size: 26px;
}
html[data-user-agent*=iPad] .benton-black-h,
html[data-user-agent*=iPhone] .benton-black-h {
  font-size: 76px !important;
  line-height: 72px;
}
html[data-user-agent*=iPad] .ipads,
html[data-user-agent*=iPhone] .ipads {
  height: 290px;
}
html[data-user-agent*=iPad] .ipads > p,
html[data-user-agent*=iPhone] .ipads > p {
  width: 27.33%;
  margin: 0 3%;
}
html[data-user-agent*=iPad] #grid-container,
html[data-user-agent*=iPhone] #grid-container {
  height: 430px;
  position: relative;
  left: -90px;
}
html[data-user-agent*=iPad] #grid-container #grid-stands-alone,
html[data-user-agent*=iPhone] #grid-container #grid-stands-alone {
  font-size: 14px;
  top: 90px;
  right: -100px;
  padding: 20px 25px 16px 25px;
}
html[data-user-agent*=iPad] .slide,
html[data-user-agent*=iPhone] .slide {
  padding: 100px 60px;
  border-top: 1px solid #ddd;
}
html[data-user-agent*=iPad] #slide1,
html[data-user-agent*=iPhone] #slide1,
html[data-user-agent*=iPad] #slide2,
html[data-user-agent*=iPhone] #slide2,
html[data-user-agent*=iPad] #slide3,
html[data-user-agent*=iPhone] #slide3,
html[data-user-agent*=iPad] #slide11,
html[data-user-agent*=iPhone] #slide11,
html[data-user-agent*=iPad] #slide12,
html[data-user-agent*=iPhone] #slide12,
html[data-user-agent*=iPad] #slide13,
html[data-user-agent*=iPhone] #slide13,
html[data-user-agent*=iPad] #slide14,
html[data-user-agent*=iPhone] #slide14,
html[data-user-agent*=iPad] #slide15,
html[data-user-agent*=iPhone] #slide15 {
  background: #000;
  color: #fff;
  border-top: 0;
}
html[data-user-agent*=iPad] #slide3,
html[data-user-agent*=iPhone] #slide3 {
  margin-bottom: -40px;
}
html[data-user-agent*=iPad] #slide4,
html[data-user-agent*=iPhone] #slide4 {
  border-top: 0;
}
html[data-user-agent*=iPad] #slide11,
html[data-user-agent*=iPhone] #slide11 {
  margin-top: 80px;
}
html[data-user-agent*=iPad] #slide2,
html[data-user-agent*=iPhone] #slide2 {
  position: relative;
}
html[data-user-agent*=iPad] #slide2 h1,
html[data-user-agent*=iPhone] #slide2 h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  margin-top: -50px;
}
html[data-user-agent*=iPad] #luxury-graph-mobile,
html[data-user-agent*=iPhone] #luxury-graph-mobile {
  border-bottom: 1px solid #ccc;
}
html[data-user-agent*=iPhone] .benton-black-h {
  font-size: 35px !important;
  line-height: 34px;
}
html[data-user-agent*=iPhone] .slide {
  padding: 100px 20px;
}
html[data-user-agent*=iPhone] .caption {
  font-size: 10px;
}
html[data-user-agent*=iPhone] .long-body {
  font-size: 16px;
}
html[data-user-agent*=iPhone] .long-body-large {
  font-size: 22px;
}
html[data-user-agent*=iPhone] #slide1 img {
  width: 250px;
  margin-left: -125px;
}
html[data-user-agent*=iPhone] #slide2 h1 {
  font-size: 18px;
}
html[data-user-agent*=iPhone] #slide6 h1 {
  font-size: 32px !important;
}
html[data-user-agent*=iPhone] #slide15 img {
  width: 130px;
  right: 20px;
  bottom: 20px;
}
html[data-user-agent*=iPhone] .ipads {
  height: 160px;
}
html[data-user-agent*=iPhone] .ipads > p {
  width: 29.33%;
  margin: 0 2%;
  font-size: 10px;
}
html[data-user-agent*=iPhone] .boxes-container {
  margin-bottom: 20px;
}
html[data-user-agent*=iPhone] .boxes-container:nth-child(3n-2) {
  padding-right: 15px;
}
html[data-user-agent*=iPhone] .boxes-container:nth-child(3n-1) {
  padding: 0 7.5px;
}
html[data-user-agent*=iPhone] .boxes-container:nth-child(3n-3) {
  padding-left: 15px;
}
html[data-user-agent*=iPhone] #backtotop {
  display: none;
}
html[data-user-agent*=Safari]:not([data-user-agent*=Chrome]) #luxury-graph-container {
  height: 320px;
}
html[data-user-agent*=Safari]:not([data-user-agent*=Chrome]) #luxury-graph-container svg {
  position: relative;
  left: 60px;
}
html[data-user-agent*=Safari]:not([data-user-agent*=Chrome]) #slide6-sub-copy .reveal-screen {
  background: -webkit-linear-gradient(left, rgba(255,255,255,0), #fff, #fff, #fff);
  background: -moz-linear-gradient(left, rgba(255,255,255,0), #fff, #fff, #fff);
  background: -o-linear-gradient(left, rgba(255,255,255,0), #fff, #fff, #fff);
  background: -ms-linear-gradient(left, rgba(255,255,255,0), #fff, #fff, #fff);
  background: linear-gradient(to right, rgba(255,255,255,0), #fff, #fff, #fff);
}
html[data-user-agent*=Safari]:not([data-user-agent*=Chrome]) #grid-container #grid-stands-alone {
  right: 48px;
  top: 200px;
}
html[data-user-agent*=Safari]:not([data-user-agent*=Chrome]) #grid-container svg {
  left: -130px;
  height: 740px;
}
html[data-user-agent*=Firefox] #slide6-sub-copy .reveal-screen {
  background: -webkit-linear-gradient(left, rgba(255,255,255,0), #fff, #fff, #fff);
  background: -moz-linear-gradient(left, rgba(255,255,255,0), #fff, #fff, #fff);
  background: -o-linear-gradient(left, rgba(255,255,255,0), #fff, #fff, #fff);
  background: -ms-linear-gradient(left, rgba(255,255,255,0), #fff, #fff, #fff);
  background: linear-gradient(to right, rgba(255,255,255,0), #fff, #fff, #fff);
}
html[data-user-agent*=Firefox] #grid-container #grid-stands-alone {
  right: 28px;
  top: 116px;
}
html[data-user-agent*=Firefox] #grid-container svg {
  left: -130px;
}
