@font-face
  font-family BentonSans
  src url(fonts/benton-regular.woff)

@font-face
  font-family BentonSans
  font-weight bold
  src url(fonts/benton-bold.woff)

@font-face
  font-family Cardo
  src url(fonts/cardo-regular.woff)

@font-face
  font-family Cardo
  font-weight bold
  src url(fonts/cardo-bold.woff)

@font-face
  font-family Cardo
  font-style italic
  src url(fonts/cardo-regular.woff)