@import '../node_modules/nib'
@import 'fonts'
@import 'lib'

global-reset()

body
  font-family BentonSans, sans-serif
  background-color rgb(0,0,0)
  color white
  font-smoothing antialiased

*
  box-sizing border-box
  line-height 1.4em
  font-size 15px

a
  color white
  text-decoration none

.slide
  position relative
  padding 200px main-margin

.long-body, .long-body-large
  font-family PTSerif
  font-size body-font-size

.long-body-large
  font-size 36px
  line-height 1.2em

.img-spacer
  margin-top main-margin

.caption
  color #aaa
  font-size 12px
  text-align right
  margin-top (main-margin / 2)
  display block

.benton-black-h
  text-transform uppercase
  font-weight bold
  font-size 130px
  line-height 120px
  font-weight 900

#main
  width 1024px
  margin auto
  display block
  img
    max-width 100%
    display block
    margin auto

#header-nav
  padding 15px main-margin
  text-align center
  position fixed
  top 0
  background black
  z-index -1
  opacity 0
  transition opacity 0.3s
  width 100%
  &.is-active
    opacity 1
    z-index 2
  a
    display inline-block
    text-transform uppercase
    letter-spacing 1px
    color #555
    transition color 0.3s ease-out
    margin-right 50px
    text-align center
    vertical-align middle
    font-size 14px
    &:last-child
      margin-right 0
    &:hover, &.is-active
      color white

#header-nav-inner
  min-width 855px

#slide1
  &.is-active
    img
      opacity 1
    .slide-down-arrow
      bottom 80px
      opacity 1
  img
    position absolute
    width 400px
    top 50%
    margin-top -50px
    left 50%
    margin-left -(@width / 2)
    opacity 0
    transition opacity 1s ease-in-cubic

.slide-down-arrow, #backtotop
  background url('images/down-arrow.svg') no-repeat center center
  background-size 30px
  height 30px
  width 100px
  left 50%
  margin-left -(@width / 2s)
  position absolute
  bottom -30px
  opacity 0
  transition bottom 0.5s ease-out-quart 1s, opacity 0.2s ease-in 1s
  cursor pointer

#slide1-5
  &.is-active
    .map-dots img
      opacity 1

.map
  position relative
  margin-top 50px
  > img
    opacity 0.5

.map-dots img
  position absolute
  top 0
  transition 0.2s ease-in-out
  opacity 0

for i in 1 2 3 4
  .map-dots img:nth-child({i})
    transition-delay (0.2 * i)s

#slide2
  margin-bottom 30px
  position relative
  &.is-active
    .reveal-screen
      width 0%
  h1
    font-family PTSerif
    text-align center
    text-transform uppercase
    font-size 34px
    letter-spacing 2px
    line-height 1.3em
    position absolute
    top 50%
    margin-top -40px
  .reveal-screen
    height calc(100% - 40px)

.reveal-screen
  color transparent
  width 140%
  height 100%
  background linear-gradient(left, transparent, black, black, black)
  z-index 6
  position absolute
  top 0
  right 0
  transition width 1s ease-out

#slide6-sub-copy
  position relative
  opacity 0
  transition opacity 3s ease-out-quart
  .reveal-screen
    background linear-gradient(left, transparent, white, white, white)
    transition width 2s ease-in-out

#slide6.is-active
  #slide6-sub-copy
    opacity 1
  .reveal-screen
    width 0%

#slide8
  #scale-bars
    polygon
      opacity 0
      transition opacity 200ms ease-in-cubic
    for i in (1..100)
      polygon:nth-child({i})
        transition-delay (1000 - (i * 10))ms
  #scale-fg
    width 100%
    height 100%
    transform rotateZ(10deg)
    transition transform 0.5s ease-in-quint 0.7s
    position relative
    top -2px
  #scale-indicator
    opacity 0
    transition opacity 0.3s ease-in-cubic 1.5s
  &.is-active
    #scale-bars polygon
      opacity 1
    #scale-fg
      transform rotateZ(-10deg)
    #scale-indicator
      opacity 1

.boxes-container
  display inline-block
  vertical-align top
  width 33% 
  margin-bottom 45px
  &:nth-child(3n-2)
    padding-right 30px
  &:nth-child(3n-1)
    padding 0 15px
  &:nth-child(3n-3)
    padding-left 30px
  img
    width 100%
  &:nth-child(2n)
    text-align center
  &:nth-child(3n)
    text-align right
  &:nth-child(4n)
    text-align left
  &:nth-child(5n)
    text-align center
  &:nth-child(6n)
    text-align right

#luxury-graph-container
  img, svg
    display inline-block
    vertical-align bottom
  img
    width 65%
    border-bottom 1px solid #ccc
  svg
    padding-left main-margin
    width 34%

.ipads
  position relative
  height 370px
  border-bottom 1px solid #ccc
  > p
    width 23.33%
    text-align center
    display inline-block
    font-weight bold
    text-transform uppercase
    letter-spacing 1px
    padding 9px 0 7px 0
    color #aaa
    border 1px solid #ccc
    margin 0 5%
    opacity 0
    transition opacity 0.5s ease-in 0.5s
    position relative
    font-size 17px
    &:nth-child(2)
      transition opacity 0.5s ease-in  
    &:first-of-type
      left 2%
    &:last-of-type
      right 2%
  img
    position absolute
    bottom 0
    left 0
    opacity 0
    transition opacity 0.5s ease-in
    &:last-child 
      transition opacity 0.3s ease-in 0.5s
  &.is-active
    img, > p
      opacity 1

#slide9
  &.is-active
    svg [id=grid-circle]
      stroke-dashoffset 0
    svg [id=grid-line]
      stroke-dashoffset 0
    #grid-stands-alone-cover
      width 0
  svg [id=grid-circle]
    stroke-dasharray 1010
    stroke-dashoffset 1010
    transition stroke-dashoffset 0.6s ease-in-out-quad
  svg [id=grid-line]
    stroke-dasharray 150
    stroke-dashoffset 150
    transition stroke-dashoffset 0.1s ease-in 0.8s

#slide15
  padding-top 100px
  position relative
  header
    text-align left
    transition opacity 1s ease-in-cubic
    opacity 0
    img
      width 600px
      display inline-block
  > a img
    position absolute
    bottom 100px
    right main-margin
    height 40px
    opacity 0
    transition opacity 0.3s ease-in 1.3s
  #backtotop
    opacity 0
    bottom 0
    transform rotateX(180deg)
    transition-duration 0s
    transition opacity 0.3s ease-in 2s
    transition bottom 0.3s ease-out-quart 2s, opacity 0.3s ease-in 2s
  &.is-active
    header, img
      opacity 1
    #backtotop
      opacity 0.5
      bottom 100px

#grid-container
  position relative
  #grid-stands-alone
    position absolute
    top 140px
    right -28px
    font-size 18px
    text-transform uppercase
    letter-spacing 2px
    padding 30px 35px 26px 35px
    color white
    background #BAA15B
  #grid-stands-alone-cover
    position absolute
    top 0
    right 0
    width 100%
    height 100%
    background white
    transition width 0.3s ease-out-quad 0.9s
    width 100%
  svg
    position relative
    left -145px

#scale-container
  position relative
  width 100%
  height 550px
  svg
    position absolute
    top 0
    left 0

.end-slide-show
  position relative
  height 603px
  img
    position absolute
    top 0
    left 0
    width 100%
    opacity 0
    &.is-active
      opacity 1

#video
  margin-left -50px

@import 'devices'