ease-in-cubic = cubic-bezier(0.550, 0.055, 0.675, 0.190)
ease-out-quart = cubic-bezier(0.165, 0.840, 0.440, 1.000)
ease-out-quad = cubic-bezier(0.250, 0.460, 0.450, 0.940)
ease-in-out-quad = cubic-bezier(0.455, 0.030, 0.515, 0.955)
main-margin = 60px
body-font-size = 24px