doctype html
html( lang="en" )
  head
    title Observer.nyc
    link( type='text/css' rel='stylesheet' href='index.css' )
    script( src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" )
  body
    .slide
      img( src='images/logotype.svg' )