mixin transition-spacer
  unless userAgent.match(/iPad|iPhone/)
    .slide( style='margin: -200px 0; padding: 0' )

doctype html
html( lang="en" data-user-agent=userAgent )
  head
    title Observer.nyc
    link( type='text/css' rel='stylesheet' href='index.css' )
    meta( name="title" "Observer.nyc" )
    meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" )
  body
    nav#header-nav
      #header-nav-inner
        a( href='slide4' ) Traditional<br> Luxury Sites
        a( href='slide5' ) New Mass<br> Media 
        a( href='slide6' ) Observer.com 
        a( href='slide7' ) Built for Luxury
        a( href='slide8' ) The 20%
        a( href='slide9' ) The Grid
           
    #main
      section#slide1.slide
        a( href='http://observer.com' target='_blank' )
          img( src='images/logotype.svg' alt='Observer.com' )
        .slide-down-arrow
      section#slide1-5.slide
        p.long-body The <em>Observer</em> is proud to call NYC home. Like any great NY-based media company, our audience extends throughout the country, with nearly 75 percent of our readers coming from outside of the NY area.
        .map
          img( src='images/map-bg.svg' )
          .map-dots
            img( src='images/map-1.svg' )
            img( src='images/map-2.svg' )
            img( src='images/map-3.svg' )
            img( src='images/map-4.svg' )
        .caption Source: Comscore March 2014
      section#slide2.slide
        h1 And across the U.S., Twenty percent of the population has 93% of the purchasing power.
        .reveal-screen

      section#slide3( style='padding-top: 150px' )
        h1.benton-black-h Are you reaching<br> that 20%?

      +transition-spacer

      section#slide4.slide
        p.long-body Being a luxury advertiser used to be relatively straightforward. Work with your favorite luxury print titles, and call it a day. Today the audience has become much more fragmented, and many of the traditional print brands, which have been successful for so long, have failed to keep up and develop meaningful web audiences.
        .img-spacer
        unless userAgent.match(/iPad|iPhone/)
          #luxury-graph-container
            img( src='/images/slide4-content.jpg' )
            #luxury-graph-svg-container
              include ../public/images/luxury-graph-bg.svg
              include ../public/images/luxury-graph-bars.svg
        else
          img#luxury-graph-mobile( src='/images/graph-mobile.jpg' )
        small.caption Sources: Quantcast, June 2014 - Observer, GQ, Esquire, Vanity Fair; Comscore, June 2014 - Vogue (Vogue is not tracked by Quantcast)
      
      section#slide5.slide
        p.long-body The digital innovators have ignored the luxury space. On the hunt for more page views and more visitors, digital native publishers have sacrificed quality and taste to reach massive audiences, often relying on empty calories like cat videos, political Twitter scandals, and clickbait celebrity headlines.
        .img-spacer
        .ipads
          p Shock Stories
          p Funny Pets
          p Celebrities
          .ipads-imgs
            img( src='/images/slide5-content-cover.jpg' )
            img( src='/images/slide5-content.jpg' )

      section#slide6.slide
        h1.benton-black-h( style='font-size: 108px; line-height: 100px') Enter Observer.com
        br
        #slide6-sub-copy
          p.long-body-large The speed, focus and innovation of a native digital media company with the taste and audience quality of a traditional luxury publisher.
          .reveal-screen
      
      section#slide7.slide
        p.long-body Observer.com reaches an elite audience by focusing on the topics that they care about, such as fine arts, fashion, politics and luxury real estate.
        .img-spacer
        .ipads
          p
            a( href='http://observer.com/style' target='_blank' ) Style
          p
            a( href='http://observer.com/culture' target='_blank' ) Art & Culture
          p
            a( href='http://observer.com/politics' target='_blank' ) Politics
          .ipads-imgs
            img( src='/images/slide7-content-cover.jpg' )
            img( src='/images/slide7-content.jpg' )

      section#slide8.slide
        p.long-body Studies show that the top earners in the United States are becoming increasingly wealthy. Observer.com is focused on reaching them.
        .img-spacer
        #scale-container
          #scale-indicator
            include ../public/images/scale-indicator.svg
          #scale-bg
            include ../public/images/scale-bg.svg
          #scale-fg
            #scale-bars
              include ../public/images/scale-fg-bars.svg
            #scale-ppl
              include ../public/images/scale-fg-ppl.svg
        small.caption Source: www2.ucsc.edu/whorulesamerica/power/wealth.html
        
      section#slide9.slide
        p.long-body The Observer stands alone in reaching a large, and highly affluent online audience.
        .img-spacer
        unless userAgent.match(/iPad|iPhone/)
          #grid-container
            include ../public/images/grid.svg
            #grid-stands-alone Observer.com<br> stands alone
              #grid-stands-alone-cover
        else
          img#luxury-grid-mobile( src='/images/grid-mobile.png' )
        small.caption Source: Quantcast, June 2014; Comscore, April & June 2014

      +transition-spacer

      section#slide11.slide
        h1.benton-black-h We<br> Tell<br> Stories.
      
      section#slide12.slide
        p.long-body The Observer brings together business, culture and media leaders for premiere experiences and intimate, unforgettable performances. With partners like Universal Music and talent like Carla Bruni, John Legend and other world- renowned artists, the Observer creates stories.
        .img-spacer
        .boxes
          for n, i in new Array(6)
            .boxes-container
              img( src='/images/box2-' + (i + 1) + '.jpg' )

      
      section#slide13.slide
        h1.benton-black-h We<br> Create<br> Stories.
      
      section#slide14.slide
        .img-spacer
        #video
          include vimeoembed.html
      
      section#slide15.slide
        header
          img( src='images/final-slide.svg' )
        #backtotop
        a( href='http://observer.com' target='_blank' )
          img( src='images/logotype.svg' alt='Observer.com' )
    
    #scripts
      script( src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" )
      script( src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js" )
      script( src='//f.vimeocdn.com/js/froogaloop2.min.js' )
      script( src='/index.js' )
      include ga.html