doctype html
html( lang="en" )
  head
    title Observer.nyc
    link( type='text/css' rel='stylesheet' href='index.css' )
  body
    nav#header-nav
      for label, i in ['Traditional Luxury Sites', 'New Mass Media', 'Observer.com', 'Built For Luxury', 'The 20%', 'The Grid']
        a( href='slide' + (i + 4) )= label
    section#slide1.slide
      img( src='images/logotype.svg' )
    section#slide2.slide.width1
      h1 93% of the wealth in America is held by 20% of the population.
    section#slide3.slide.width1
      h1.benton-black-h Are you reaching that 20%?
    section#slide4.slide.width1
      p.long-body In today's digital age, the traditional print vehicles for luxury advertising have been left behind, never transitioning organically online. Having retained their “print first” editorial and design ethos, their online presences still feel like afterthoughts to their glossy counterparts, failing to attract a large portion of the 20%.
    section#slide5.slide.width1
      p.long-body The digital innovators have ignored the luxury space. On the hunt for more pageviews and more visitors, digital native publishers have sacrificed quality and taste to reach massive audiences, relying on empty calories like: cat videos, political Twitter scandals, and click-bait celebrity headlines.
    section#slide6.slide.width1
      h1.benton-black-h Enter Observer.com
      br
      p.long-body The speed, focus & innovation of a native digital media company with the taste & audience quality of a traditional luxury publisher
    section#slide7.slide.width1
      p.long-body Built to reach the 20% on the topics they are passionate about, Observer.com features the latest in national news, fine arts, fashion, politics & high value real estate.
    section#slide8.slide.width1
      p.long-body This September, Gallerist — the leading news site for the global art world — will roll into Observer.com, affording it nationally recognized coverage of art news, trends and criticism. Joining the Observer's audience of luxury readers, Gallerist delivers the elite world of collectors, gallery owners and art world influencers.
    section#slide8.slide.width1
      p.long-body Studies show that the top earners in the United States are becoming increasingly wealthy, concentrating the vast majority of wealth in the hands of a few. Most popular internet sites target the majority of the country and neglect the nation’s most affluent individuals—Observer.com reaches them.
    section#slide9.slide.width1
      p.long-body With more expendable income on average than any competitive site, Observer.com’s audience nets $223 trillion in combined annual income.
    section#slide10.slide.width1
      h1.benton-black-h We<br> Tell<br> Stories
    section#slide11.slide.width1
      p.long-body Recognized for outstanding editorial programs and original branded content, the Observer’s digital, print, and social media platforms captivate audiences through dynamic stories told by strong voices.
    section#slide12.slide.width1
      h1.benton-black-h We<br> Create<br> Stories
    section#slide13.slide.width1
      p.long-body The Observer brings together business, culture, and media leaders for premier experiences and intimate, unforgettable performances. With partners like Universal Music and talent like Carla Bruni, John Legend, and other world renowned artists, the Observer creates stories. With a cast of elite characters, in extraordinary settings, brands can expect a fairytale ending.
    section#slide14.slide.width1
      h1.benton-black-h Let us tell <em>your</em> story.
      img( src='images/logotype.svg' )
    #scripts
      script( src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" )
      script( src='/index.js' )